<div class="form-add__contacts-select-container form-add__contacts-select-container-${numberNewContact}">
    <select class="form-add__contacts-select-${numberNewContact}" name="type">
        <option class="form-add__contacts-option" value="Phone">Телефон</option>
        <option class="form-add__contacts-option" value="Add-phone">Доп. телефон</option>
        <option class="form-add__contacts-option" value="Email">Email</option>
        <option class="form-add__contacts-option" value="VK">Vk</option>
        <option class="form-add__contacts-option" value="Other">Другое</option>
    </select>
</div>
<input class="form-add__contacts-input form-add__contacts-input-${numberNewContact}" type="text"
    placeholder="Введите данные контакта">
<button class="form-add__contacts-btn-close form-add__contacts-btn-close-${numberNewContact} visually-hidden"></button>