<div class="form-edit visually-hidden">
    <div class="form-edit__container">
        <div class="form-edit__header">
            <h3 class="form-edit__title">Изменить данные</h3>
            <span class="form-edit__header-span">ID:123458</span>
            <button class="form-edit__header-btn">
                <span class="form-edit__header-btn-span form-edit__header-btn-1"></span>
                <span class="form-edit__header-btn-span form-edit__header-btn-2"></span>
            </button>
        </div>
        <form action="" class="form-edit__form" method="post">
            <ul class="form-edit__list">
                <li class="form-edit__item">
                    <span class="form-edit__item-span">Фамилия<span class="form-edit__item-star">*</span></span>
                    <input class="form-edit__input" type="text">
                </li>
                <li class="form-edit__item">
                    <span class="form-edit__item-span">Имя<span class="form-edit__item-star">*</span></span>
                    <input class="form-edit__input" type="text">
                </li>
                <li class="form-edit__item">
                    <span class="form-edit__item-span">Отчество</span>
                    <input class="form-edit__input" type="text">
                </li>
            </ul>
            <button class="form-edit__form-btn-add">Добавить контакт</button>
            <input class="form-edit__form-submit" type="submit" value="Сохранить">
            <button class="form-edit__form-btn-delete">Удалить клиента</button>
        </form>
    </div>
</div>