<div class="clients">
    <div class="clients__container">
        <div class="clients__block">
            <h1 class="clients__title">Клиенты</h1>
            <div class="table__container">
                <table class="clients__table">
                    <thead class="clients__thead">
                        <tr class="clients__tr-title">
                            <th class="clients__th-title clients__th-title-id">
                                <button href="" class="clients__tr-title-btn">
                                    <span class="clients__tr-title-span">ID</span>
                                    <span class="clients__tr-title-id-arrow"></span>
                                </button>
                            </th>
                            <th class="clients__th-title clients__th-title-name">
                                <button href="" class="clients__tr-title-btn">
                                    <span class="clients__tr-title-span">Фамилия Имя Отчество</span>
                                    <span class="clients__tr-title-name-arrow"></span>
                                    <span class="clients__tr-title-name-text"></span>
                                </button>
                            </th>
                            <th class="clients__th-title clients__th-title-date">
                                <button href="" class="clients__tr-title-btn">
                                    <span class="clients__tr-title-span clients__tr-title-span-date">Дата и
                                        время
                                        создания</span>
                                    <span class="clients__tr-title-date-arrow"></span>
                                </button>
                            </th>
                            <th class="clients__th-title clients__th-title-editlast">
                                <button href="" class="clients__tr-title-btn">
                                    <span class="clients__tr-title-span clients__tr-title-span-editlast">Последние
                                        изменения</span>
                                    <span class="clients__tr-title-editlast-arrow"></span>
                                </button>
                            </th>
                            <th class="clients__th-title clients__th-title-contacts">
                                <span class="clients__tr-title-span">Контакты</span>
                            </th>
                            <th class="clients__th-title clients__th-title-action">
                                <span class="clients__tr-title-span">Действия</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="clients__tbody">

                    </tbody>
                </table>
                <!-- <div class="clients__load">
                    <div class="clients__load-circle"></div>
                </div> -->
            </div>
            <div class="clients__btn-block">
              <button class="clients__btn">Добавить клиента</button>
          </div>
        </div>
    </div>
  </div>