.form-edit {
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  /* эффект с высотой */
  /* отключите высоту и попробуйте скроллить */
  min-height: 100vh;
  height: 100%;
  background-color: rgb(20%, 20%, 20%, 0.6);
}

/* .form-edit__bg {
  position: absolute;
  display: flex;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #333333;
  opacity: 0.6;
} */

.form-edit__container {
  position: relative;
  top: 138px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0 29px 0;
  width: 450px;
  min-height: 400px;
  background-color: var(--formEdit-bg);
}

.form-edit__header {
  display: flex;
  margin-bottom: 16px;
  padding: 0 30px;
  min-height: 32px;
}

.form-edit__title {
  align-self: flex-end;
  margin-right: 9px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.form-edit__header-span {
  align-self: flex-end;
  margin: 0 121px 2px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.form-edit__header-btn {
  position: relative;
}

.form-edit__header-btn-span {
  position: absolute;
  /* top: 13px; */
  left: 4.25px;
  display: flex;
  width: 20.51px;
  height: 1.37px;
  background-color: #c8c5d1;
  transform-origin: center center;
}

.form-edit__header-btn-1 {
  transform: rotate(45deg);
}

.form-edit__header-btn-2 {
  transform: rotate(-45deg);
}

.form-edit__header-btn {
  align-self: flex-start;
  width: 29px;
  height: 29px;
}

.form-edit__form {
  display: flex;
  flex-direction: column;
}

.form-edit__list {
  margin-bottom: 25px;
  padding: 0 30px;
}

.form-edit__item {
  display: flex;
  flex-direction: column;
}

.form-edit__item:not(:last-child) {
  margin-bottom: 15px;
}

.form-edit__item-span {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #b0b0b0;
}

.form-edit__item-star {
  color: #9873ff;
}

.form-edit__input {
  height: 29px;
  border-bottom: 1px solid #c8c5d1;
}

.form-edit__form-btn-add {
  margin-bottom: 25px;
  padding: 8px 150px 8px 171px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  background-color: #c8c5d1;
  background-image: url("../img/form-add-contact.svg");
  background-repeat: no-repeat;
  background-position: 151px center;
}

.form-edit__form-submit {
  align-self: center;
  margin-bottom: 5px;
  width: 147px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: #9873ff;
}

.form-edit__form-btn-delete {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #333333;
}
